@import "tailwindcss";

:root {
  --font-inter: Inter, sans-serif;
}

/* .typed-cursor {
  color: #ffff;
  display: inline-block;
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
} */
